* {
    box-sizing: border-box;
    margin:0;
}
html {
    color: #333333;
    font-family:'Noto Sans KR', 'Noto Sans Korean', 'Roboto', sans-serif;
    background-color: #ffffff;}
a {
    text-decoration: none;
    color: #333333;
}
:root {
    --main-color: #FF8039;
    --nav-height: 71px;
}

/* NAVIGATION BAR */
.nav-white-wrapper {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--nav-height);
    padding: 0 30px;
    box-shadow: 0px 2px 12px 0px rgb(51 51 51 / 10%);
    z-index: 20;
}
.nav-bar-pc {
    display: none !important;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 10px 0 0;
}
.nav-contents-right {
    list-style:none;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}
.nav-contents-right li {
    font-size: 13px;
    margin-left: 40px;
    cursor: pointer;
    color: var(--main-color);
}

/* NAVIGATION BAR MOBILE VERSION */
.nav-bar-mobile {
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 1171px) {
    .nav-bar-pc {
        display: flex !important;
    }
    .nav-bar-mobile {
        display: none !important;
    }
}
.nav-bar-mobile .left {
    cursor:pointer;
    color: #333333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-bar-mobile .left img {
    width: 18px;
    height: 18px;
}
.nav-bar-mobile .center-logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar-mobile .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #333333;
}
.nav-bar-mobile .right .nav-bar-item {
    margin-left: 20px;
    cursor: pointer;
}
.nav-bar-mobile .right img {
    width: 18px;
    height: 18px;
}


/****************/
/* PAGE CONTENT */
/****************/

.page-content {
    position:relative;
    top: var(--nav-height);
    max-width: 1366px;
    margin: 0 auto;
    overflow-x:scroll;
}
.page-content .product-title {
    padding: 20px 20px 30px;
    font-size: 20px;
    font-weight: 600;
}
.page-content .contents .select-options {
    border-top: 1px solid #e5e5e5;
    background-color: #fafafa;
}
@media(min-width: 1171px){
    .page-content > .product-title {
        font-size: 30px;
        padding: 50px 660px 50px 40px;
        font-weight: 600;
    }
    .page-content > .contents {
        padding-right: 20px;
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .page-content .contents .calendar {
        padding-top: 20px;
        width: 746px;
    }
    .page-content .contents .select-options {
        padding: 40px 30px 20px;
        width: 593px;
    }
}


/* CALENDAR */
.page-content .contents .calendar .calendar-wrapper {
    display: flex;
    justify-content:center;
}
.calendar .calendar-wrapper .set-width {
    width: 746px;
}
@media (max-width: 800px) {
    .calendar .calendar-wrapper .set-width {
        width: 389px;
    }
}
.calendar .week-header {
    margin-left: 9px;
    position:relative;
    z-index:10;
}
.calendar .week-header > .week-header-wrapper {
    padding: 0 13px;
    color: #757575;
    position: absolute;
    left: 0;
    top: 70px;
    text-align: left;
}
@media(max-width: 800px) {
    .calendar .week-header .week-header-wrapper {
        top: 45px !important;
    }
}
.calendar .week-header ul {
    list-style: none;
    display: flex;
    padding: 0;
    font-size: 14px;
    color: #757575;
    text-align: left;
}
.calendar .week-header ul li {
    text-align: center;
    width: 100px;
}
.calendar .week-header ul > li:first-child {
    color: var(--main-color);
}

.calendar .day-picker > .navigation-button {
    position:relative;
    display: flex;
    justify-content: space-between;
    padding: 0 9%;
    height:0;
    z-index:2;  
}
.calendar .day-picker > .navigation-button > .button-prev,
.calendar .day-picker > .navigation-button > .button-next {
    width: 19px;
    height: 19px;
    margin-top: 3px;
    cursor:pointer;
}
.calendar .day-picker .navigation-button .button-prev.disabled,
.calendar .day-picker .navigation-button .button-next.disabled {
    opacity: 0.3;
    cursor:default;
}


.calendar .day-picker > .month-grid {
    width: 746px;
    height: 625px;
    position:relative;
    overflow:hidden;
}

.calendar .day-picker > .month-grid > .month-grid-wrapper {
    width: 1492px;
    position:absolute;
    left: 9px;
    background:#fff;
    text-align: left;
    z-index:0;
    display:flex;
    transition: .2s;
}
.calendar .day-picker > .month-grid .month {
    display: inline-block;
    vertical-align: top;
    min-height: 100%;
    width: 100%;
    background: #fff;
}

.calendar .day-picker .month-grid .month.next {
    visibility: hidden;
}

.calendar .month-grid .month > .month-wrapper {
    padding: 0 13px;
    text-align: center;
}
.calendar .month-grid .month .month-caption {
    padding-bottom: 80px;
    padding-top: 0;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-align:center;
    caption-side: initial;
}
.calendar .month-grid .month .month-table {
    display: table;
    font-size:14px;
    color: #484848;
    border-collapse: collapse;
    border-spacing: 0;
}
.month-grid tbody {
    display: table-row-group;
}
.month-grid tbody tr {
    display: table-row;
}
.month-table td {
    display: table-cell;
    width: 100px;
    height: 99px;
    border: 0;
    padding:0;
    font-size: 14px;
    text-align: center;
}
@media (max-width: 800px) {
    .page-content .contents .calendar {
        width: 389px;
        margin-right:auto;
        margin-left: auto;
    }
    .calendar .day-picker .month-grid {
        width: 388px;
        height: 367px;
    }
    .calendar .day-picker > .month-grid > .month-grid-wrapper {
        width: 778px;
    }
    .month-table td {
        width: 49px;
        height: 48px;
    }
    .calendar .week-header ul > li {
        width: 49px;
    }
    .calendar .month-grid .month .month-caption {
        padding-bottom: 13%;
        color: #484848;
    }
}
.month-table .day {
    width:100%;
    height: 100%;
    position:relative;
    cursor:pointer;
}
.month-table .day .content {
    z-index:2;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.month-table .day .circle {
    z-index:1;
    width:80%;
    height:80%;
    border-radius: 50%;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.month-table .day:hover .circle {
    background: #e5e5e5;
}
.month-table .day.block {
    color: #cccccc;
    cursor: default;
}
.month-table .day.block:hover .circle {
    cursor:default;
    background:none;
}
.month-table .day.today {
    color: var(--main-color);
    cursor:default;
}
.month-table .day.today:hover .circle {
    cursor:default;
    background:none;
}
.month-table .day.selected .content {
    color:#fff;
}
.month-table .day.selected .circle {
    background: var(--main-color);
}
.month-table .day.block.selected .content {
    color: #cccccc;
}
.month-table .day.block.selected .circle {
    background:none;
}
.month-table .day.today.selected .content {
    color: var(--main-color);
}
.month-table .day.today.selected .circle {
    background:none;
}

/* SELECT OPTIONS */
.select-options .header{
    padding: 20px;
}
.select-options .heder .title {
    font-size: 16px;
    font-weight: 600;
}
.select-options > .header > .selected-date {
    margin-top: 15px;
    color: var(--main-color);
    font-size: 13px;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid var(--main-color);
    padding: 10px 15px;
    display: inline-block;
}
.select-options .option-container {
    border-top: 1px solid #e5e5e5;
    padding: 0 20px;
    overflow-y: auto;
    max-height: 400px;
    background-color: #ffffff;
}
.select-options .option-container .option {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0;
    position: relative;
    cursor:pointer;
}
@media (min-width: 1171px) {
    .select-options > .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        padding-bottom: 40px;
    }
    .select-options > .header > .title {
        font-size: 20px;
    }
    .select-options .header .selected-date {
        margin-top: 0;
    }
    .select-options > .option-container {
        background-color: inherit;
        padding:0;
        min-height: 500px;
        max-height: 500px;
    }
    .select-options > .option-container > .option {
        display: flex;
        align-items:center;
        padding: 30px 10px;
    }
}


.select-options > .option-container > .option:hover {
    background-color: #f3f3f3;
}
.select-options > .option-container > .option > .title {
    font-size: 16px;
    font-weight: 500;
    width: 70%;
    padding-right: 40px;
}
.select-options > .option-container > .option > .price {
    margin-top: 0;
    padding-right: 40px;
    width: 30%;
    font-size: 16px;
    font-weight: 600;
}
.select-options > .option-container > .option > .arrow {
    width: 16px;
    height: 16px;
    position:absolute;
    right:0px;
    top:50%;
    transform: translateY(-50%);
}


/* FOOTER */
.footer-wrapper {
    padding: 0 20px;
}
@media (min-width: 1171px) {
    .footer-wrapper {
        margin-top: 80px;
        padding: 0;
    }
}
.footer-pc {
    display: none;
    margin-top:80px;
    border-top: 1px solid #e5e5e5;
}
.footer-pc .up {
    display:flex;
    padding: 40px 0;
}
.footer-pc .up .left {
    width: 73%;
    display: flex;
}

.footer-pc .up .left .column-4-menu {
    width: 23%;
    font-size: 13px;
    font-weight: 500;
    color: #999999;
}

.column-4-menu .menu-title {
    font-weight: 600;
    color: #000000;
    margin-bottom:10px;
}
.column-4-menu .menu-item {
    margin-bottom:5px;
    cursor:pointer;
}
.column-4-menu .menu-payment-method {
    display:flex;
}
.menu-payment-method img {
    width: 40px;
    margin-left: 5px;
}
.menu-payment-method img:first-child {
    margin-left: 0;
}

.footer-pc .up .right {
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 600;
}
.sns-container {
    margin-top: 10px;
    display:flex;
}
.sns-container a {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}
.sns-container a:first-child {
    margin-left: 0;
}
.footer-pc .down {
    border-top: 1px solid #e5e5e5;
    padding: 40px 0;
    display: flex;
    font-size: 12px;
    font-weight: 590;
    color: #999999;
}
.footer-pc .down .left {
    width: 73%;
}
.footer-pc .down .right {
    width: 27%;
}
.margin-top-5px {
    margin-top: 5px;
}
.margin-top-20px {
    margin-top: 20px;
}

/* MOBILE FOOTER */
.footer-mobile {
    display: block;
    margin-top: 40px;
    padding: 0;
    border-top: 1px solid #e5e5e5;
}
.footer-mobile .up {
    padding: 40px 0;
}
.footer-mobile .follow-us {
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-size: 16px;
    font-weight: 600;
}
.footer-mobile .sns-container {
    display: flex;
}
.footer-mobile .sns-container a{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.footer-mobile .sns-container a:first-child {
    margin-left: 0;
}

.footer-mobile .middle {
    border-top: 1px solid #e5e5e5;
    padding: 40px 0;
}
.footer-mobile .middle h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-mobile .contact-us {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-size: 12px;
    color: #999;
    gap: 5px;
}
.footer-mobile .phone {
    display: flex;
}
.footer-mobile .phone span,
.footer-mobile .hours span {
    flex-basis: 6em;
}

.footer-mobile .hours {
    display: flex;
}

.footer-mobile .down {
    border-top: 1px solid #e5e5e5;
    padding: 40px 0;
}
.footer-mobile .down .company-info {
    font-size: 12px;
    font-weight: 500;
    color: #999999;
}

.footer-mobile .down .agreement-info-buttons {
    margin-top: 50px;
    display: flex;
}
.footer-mobile .down .button {
    background-color: #f5f5f5;
    width: 50%;
    text-align: center;
    font-size: 10px;
    padding: 15px;
}
.footer-mobile .down .button:last-child {
    font-weight: 600;
}

@media (min-width: 800px) {
    .footer-pc {
        display: block;
    }
    .footer-mobile {
        display: none;
    }
}


/***************/
/* POPUP MODAL */
/***************/

.popup-background {
    z-index:50;
    cursor:pointer;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.3);
    /* display:block; */
    display:none;
}
#popup-modal{
    position:fixed;
    z-index:100;
    /* display:flex; */
    display:none;
}

.popup-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    background: #ffffff;
    padding: 20px;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
@media(min-width:1171px) {
    .popup-container {
        left: 70%;
        padding: 30px;
    }
}
.popup-container > .button-close {
    cursor:pointer;
    margin-top:-15px;
    margin-bottom:20px;
}
.popup-container > .button-close > .icon-close {
    width: 17px;
    height: 17px;
}
.popup-container > .popup-info {
    min-height: 80%;
    overflow: auto;
}
.popup-container > .popup-info::-webkit-scrollbar {
    display:none;
}

.popup-container > .popup-info > .popup-header {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.popup-container > .popup-info > .popup-header > .popup-option-title {
    font-size: 24px;
    font-weight:bold;
}
.popup-container > .popup-info > .popup-header > .popup-selected-option {
    font-size: 16px;
    font-weight: 500;
}
.popup-container > .popup-info > .popup-header > .popup-selected-date {
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color);
}

.popup-container > .popup-info > .timeslot-header {
    margin: 10px 0;
}
.popup-container > .popup-info > .timeslot {
    position: relative;
}
.popup-info > .timeslot > .timeslot-container {
    align-items: center;
    background-color: rgb(255,255,255);
    border-color: rgb(204,204,204);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 38px;
    transition: all 100ms ease 0s;
    outline: 0px !important;
}
.popup-info > .timeslot > .timeslot-container > .timeslot-left {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    flex-wrap: wrap;
    padding: 2px 8px;
    position: relative;
    /* overflow: hidden; */
}
.timeslot > .timeslot-container > .timeslot-left > .timeslot-placeholder {
    color: rgb(51,51,51);
    margin-left: 2px;
    margin-right: 2px;
    max-width: calc(100% - 8px);
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
}
.popup-info > .timeslot .timeslot-right {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
}
.popup-info > .timeslot .timeslot-right > .seperator {
    align-self: stretch;
    background-color: rgb(204,204,204);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
}
.popup-info > .timeslot .timeslot-right > .arrow-container {
    color: rgb(204,204,204);
    display: flex;
    padding: 8px;
    transition: color 150ms ease 0s;
}
.popup-info > .timeslot .timeslot-right > .arrow-container > .arrow-down {
    display: inline-block;
    fill: currentcolor;
    line-height: 1;
    stroke: currentcolor;
    stroke-width: 0;
}
.timeslot-menu {
    top: 100%;
    background-color: rgb(255,255,255);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 10% ) 0px 0px 0px 1px, rgb(0 0 0 /10%) 0px 4px 11px;
    margin-bottom: 8px;
    margin-top: 8px;
    position: absolute;
    width: 100%;
    z-index: 1;
    display:none;
}
.timeslot-menu .timeslot-wrapper {
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
}
.timeslot-menu .timeslot-wrapper .time {
    background-color: transparent;
    color: inherit;
    cursor: default;
    display: block;
    font-size: inherit;
    padding: 8px 12px;
    width: 100%;
    user-select: none;
}
.timeslot-menu .timeslot-wrapper .time:hover {
    background-color: rgb(245, 198, 224);
}



.popup-container > .popup-info > .popup-option {
    margin: 10px 0;
}
.popup-container > .popup-info > .popup-option > .popup-option-category {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.popup-option > .popup-option-category > .option-category-title {
    font-size: 16px;
    font-weight: 400;
}
.popup-option > .popup-option-category > .option-category-info {
    display:flex;
}
.popup-option > .popup-option-category > .option-category-info > .option-category-price {
    font-size: 14px;
    margin: auto 0;
}
.popup-option > .popup-option-category > .option-category-info > .option-category-count {
    display:flex;
    margin-left:auto;
}
.popup-option .option-category-count > .option-category-count-down,
.popup-option .option-category-count > .option-category-count-content,
.popup-option .option-category-count > .option-category-count-up {
    width: 33px;
    height:33px;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}
.popup-option .option-category-count > .option-category-count-down {
    border:1px solid #e5e5e5;
    border-radius: 4px 0 0 4px;
}
.popup-option .option-category-count > .option-category-count-content {
    font-size: 14px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    cursor:default;
}
.popup-option .option-category-count > .option-category-count-up {
    border:1px solid #e5e5e5;
    border-radius: 0 4px 4px 0;
}

.popup-container > .popup-bottom {
    display: flex;
    flex-direction: column;
    /* margin-top: auto; */
    padding-top: 10px;
}
.popup-container > .popup-bottom > .total-amount {
    display: flex;
    align-items:center;
    justify-content:center;
    height: 44px;
    border:1px solid #e5e5e5;
}
.popup-bottom > .total-amount > .total-amount-text {
    font-weight: bold;
    margin-left: 10px;
}
.popup-bottom .button-reservation {
    margin-top:10px;
    padding:10px;
    cursor:pointer;
    font-size:16px;
    text-align:center;
    /* height:24px; */
    color: #ffffff;
    border-radius: 3px;
    background: rgb(255,128,57);
background: linear-gradient(90deg, rgba(255,128,57,1) 0%, rgba(161,212,186,1) 100%);
}